@model IEnumerable<Mosh.Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>List of our customers</h2>

<p>
    @Html.ActionLink("New customer", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table" id="customers">
    <thead>
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                Membership type
            </th>
            <th>
                Remove customer
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
<script>
    $(document).ready(function () {
       var table =  $("#customers").DataTable({
            ajax: {
                url: "api/customers/",
                dataSrc: ""
            },
            columns: [
                {
                    data: "name", 
                    render: function (data, type, customer) {
                        return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                    }
                },
                {
                    data: "membershipType.name"
                },
                {
                    data: "id",
                    render: function (data) {
                        return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                    }
                }
            ]
        });

        $("#customers").on("click", ".js-delete", function () {
            var button = $(this);

            bootbox.confirm("really?", function (result) {
                if (result) {
                    $.ajax({
                        url: "api/customers/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            table.row(button.parents("tr")).remove().draw();
                            console.log("success!");
                        }
                    });
                }
            });
        });
    });
</script>
}
